Dear Graduating CS & IT Students,

This is a reminder for you to take the Qualifying Examinations on March 9, 2019 (Saturday) at 1:00 pm. The venue will be announced soon.

To apply for the examinations, please submit the following requirements:

- Completed applicant's data form (available at the department)
- Comprehensive resume
- Application letter
- Transcript of Records (collegiate) or a copy of your grades from 1st year up to last semester
- 2x2 picture

Please submit these requirements during the examination date. If you have incomplete requirements, you may still take the exam but make sure to submit the missing documents as soon as possible.