Attention:
March 2019 Graduating CS & IT Students

Qualifying Examinations

Date : March 9, 9 (Sat)

Time : 01:00 pm

Venue: To be announced

Application Requirements

Completed applicant’s data
(forms are available at the department)
* Comprehensive Resumé
* Application letter
¢ Transcript of Records (collegiate)
or copy of grades from 1st year up to
last semester
° 2x2 picture
Please submit the requirements during the
examination date. For those with incomplete
requirements you may still take the exam,

