The International Labor Organization (ILO) is partnering with the Cebu IT BPM Organization to conduct a survey/study on the future upskilling/reskilling requirements of women in the IT/BPM workforce of Cebu. The research group of USJR may be tapped should their schedule allow, and their director, Dr Agnes Sequino, has expressed openness to the possibility subject to school President’s approval. The Cebu IT BPM Organization (CIB.O), formerly known as CEDFIT, has been supporting the industry since 2001, with its current president being Dr Gregg Gabison of CICCTC, USJR Basak Campus. The organization looks forward to a mutually beneficial partnership between USJR and CIB.O.