ex
Cebu IT BPM.Organization
“The IT BPM industry Association of Cebu”

LA I

November 27, 2019

Rev Fr. cf opher C. Maspara, OAR (a4 9ft0
President “Step
USJR : ie EB PM

Dear Rev. Fr. Maspara:

In preparation for next year’s International Women’s Month in March 2020, the
International Labor Organization(ILO) in partnership with the Cebu IT BPM
Organization plans to conduct a survey/study on the future upskilling/reskilling
requirements of women in the IT/BPM workforce of Cebu.

We plan to tap the research group of USJR should their schedule allow. We
have talked initially with Dr Agnes Sequino, the Director of your research group
and she is open to the possibility subject to the approval of the school President.

By the way, CIB.O is the former CEDFIT and has been supporting the IT/BPM
industry of Cebu since 2001. Currently, our President is Dr Gregg Gabison of
CICCTC, USJR Basak Campus.

We are looking forward to the favorable reply to our request and the continued
mutually beneficial partnership between USJR and CIB.O.

Sincerely,

Wilfr¢do T. Sa-a Jr
ing Director, CIB.O

EHS UNS EEA RD SE SSS RN EPR GS SPARS CR ONE

CIB.O Bidg., JM del Mar Street, Cebu IT Park, Apas, Cebu City

Tal Na+ (N292N92L_ENQI \Viabcita: unanw eth are mh Email ta: infa@ecib ars nh

